{% extends 'base.html' %}

{% block content %}

<style>
    
    .float-container {
        border: 3px solid #fff;
        padding: 20px;
    }

    .float-child {
        width: 50%;
        float: left;
        padding: 20px;
    }  

    .form{
        display: flex;
        justify-content: center;
    }

    .tweet {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 10px;
        border-top: 1px solid #e1e1e1;
        padding: 10px;
        padding-top: 20px;
        margin: 0 0 30px 0;
    }

    .tweet-avatar img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .tweet-content {
        display: grid;
        grid-template-rows: auto 1fr auto auto;
        gap: 5px;
    }

    .tweet-author {
        font-size: 16px;
        font-weight: bold;
    }

    .tweet-date {
        font-size: 12px;
        color: #888;
    }

    .tweet-body {
        font-size: 14px;
        color: #333;
    }


</style>

{% if user.is_authenticated %}

    <div class="float-container">

        <div class="float-child" id="posts">
            {% for followed in user.profile.follows.all %} 
                {% for post in followed.user.posts.all %}   
                    <div class="tweet">
                        <div class="tweet-avatar">
                            {% if post.user.avatar %}
                                <img src="{{ post.user.avatar.url }}" alt="Author Avatar">
                            {% else %}
                                <img src="user.png" alt="">
                            {% endif %}
                        </div>
                        <div class="tweet-content">
                            
                            <div class="tweet-author">
                                <span class="author-name">{{post.user.username}}</span>
                                <span class="tweet-date">{{ post.created_at }}</span>
                            </div>
                            <a href="{% url 'post' post.pk %}" style="text-decoration: none;">
                                <div class="tweet-body">
                                    {{ post.body }}
                                </div>
                            </a>                            
                            
                            <a href="{% url 'post' post.pk %}" style="margin-top: 15px;">See Comments</a>
                            
                        </div>
                    </div>                   
                {% endfor %}
            {% endfor %}
            
            {% for post in user.posts.all %}
                <div class="tweet">
                    <div class="tweet-avatar">
                        {% if post.user.avatar %}
                            <img src="{{ post.user.avatar.url }}" alt="Author Avatar">
                        {% else %}
                            <img src="user.png" alt="">
                        {% endif %}
                    </div>
                    <div class="tweet-content">
                        
                        <div class="tweet-author">
                            <span class="author-name">{{post.user.username}}</span>
                            <span class="tweet-date">{{ post.created_at }}</span>
                        </div>
                        <a href="{% url 'post' post.pk %}" style="text-decoration: none;">
                            <div class="tweet-body">
                                {{ post.body }}
                            </div>
                        </a>                            
                        
                        <a href="{% url 'post' post.pk %}" style="margin-top: 15px;">See Comments</a>
                        
                    </div>
                </div> 
            {% endfor %}
            <p>Follow <a href="{% url 'profile_list' %}">other users</a> to see more posts</p>
            

        </div>
        
        <div class="float-child">
            <div class="form">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Post</button>
                </form>
            </div>
        </div>
    </div>
{% endif %}




{% endblock %}